// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

fieldset {
  border: none;
}

.products.index .grid-container {
  display: grid;
  max-width: 86vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 0.5em;
}

.products.index .grid-item:last-child {
}

.products.index img {
  width: 100%;
}
