// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

///// INDEX
.products.index .grid-container {
  display: grid;
  grid-template-columns: 19.3vw 19.3vw 19.3vw;
  grid-column-gap: 1vw;
  grid-template-rows: 19.3vw 19.3vw 19.3vw;
  grid-row-gap: 1vw;
  // border: solid 1px #CCC;
}

.products.index .grid-item {
  border: solid 1px #DDD;
}

.products.index img {
  width: 100%;
}

.products.index .last-cell {
  align-self: center;
  text-align: center;
  border: none;
}

.last-cell p {
  display: inline-block;
  color: red;
  letter-spacing: 2px;
  padding-bottom: 2px;
  border-bottom: solid 3px red;
  font-style: italic;
}

///// SHOW
.products.show .grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 2em;
}

.products.show img {
  width: 100%;
}

p.price {
  padding: 1em 0 1.5em;
  font-weight: 600;
}

.product.show input {
  display: block;
}
