// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

///// INDEX
.products.index .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 0.5em;
}

.products.index .grid-item:last-child {
}

.products.index img {
  width: 100%;
}


///// SHOW
.products.show .grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 2em;
}

.products.show img {
  width: 100%;
}

p.price {
  padding: 1em 0 1.5em;
  font-weight: 600;
}

.product.show input {
  display: block;
}
